.advantages {

}

.dvantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.advantages__list {

}

.advantages__items {
  font-size: 17px;
  line-height: 20x;
  font-weight: bold;
}

.advantages__items--style {

}

.advantages__items--like {

}

.advantages__items--love {

}

.advantages__items--support {

}

.advantages__items--present {

}
