.advantages {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages__items {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  padding-top: 83px;
}

.advantages__items--ecology {
  width: 190px;
  position: relative;

  .ecology-svg {
    content: "";
    position: absolute;
    top: 30px;
    left: 6px;
    fill: @type-color;
  }
}

.advantages__items--style {
  width: 210px;
  position: relative;

  .style-svg {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    fill: @type-color;
  }
}

.advantages__items--like {
  width: 195px;
  position: relative;

  .like-svg {
    content: "";
    position: absolute;
    top: 36px;
    left: 7px;
    fill: @type-color;
  }
}

.advantages__items--love {
  position: relative;

  .love-svg {
    content: "";
    position: absolute;
    top: 34px;
    left: 4px;
    fill: @type-color;
  }
}

.advantages__items--support {
  position: relative;

  .support-svg {
    content: "";
    position: absolute;
    top: 34px;
    left: -5px;
    fill: @type-color;
  }
}

.advantages__items--present {
  width: 215px;
  position: relative;

  .present-svg {
    content: "";
    position: absolute;
    top: 32px;
    left: 2px;
    fill: @type-color;
  }
}


@media (min-width: @tablet-width) {
  .advantages {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 89px;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    padding: 0;
  }

  .advantages__list {
    max-height: 460px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .advantages__items {
    padding-top: 107px;
    font-size: 20px;
    line-height: 22px;
    width: 295px;
  }

  .advantages__items--ecology {
    width: 230px;

    .ecology-svg {
      content: "";
      position: absolute;
      top: 49px;
      left: 6px;
    }
  }

  .advantages__items--love {
    .love-svg {
      content: "";
      position: absolute;
      top: 55px;
      left: 4px;
    }
  }

  .advantages__items--style {
    width: 235px;

    .style-svg {
      content: "";
      position: absolute;
      top: 53px;
      left: 0;
    }
  }

  .advantages__items--support {
    .support-svg {
      content: "";
      position: absolute;
      top: 56px;
      left: -5px;
    }
  }

  .advantages__items--like {
    width: 235px;
    padding-right: 59px;

    .like-svg {
      content: "";
      position: absolute;
      top: 60px;
      left: 7px;
    }
  }

  .advantages__items--present {
    width: 240px;

    .present-svg {
      content: "";
      position: absolute;
      top: 55px;
      left: 2px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 700px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 5px;
  }
}
