.card {
}

.card__item {
  border: 1px solid #ededed;
  margin-bottom: 30px;
}

.card__image {
}

.card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.card__text {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}
