.card {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__item {
  border: 1px solid @border-color;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: auto;
}

/*
.card__image {
}*/

.card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.card__text {
  font-size: 13px;
  line-height: 30px;
  color: @button-color;
}

.card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}
/*
.card__button {
}

.сard__video {

}

.card__order {
}*/

@media (min-width: @tablet-width) {
  .card__item {
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .card__item {
    width: 315px;
    flex-direction: column;
  }
}
