/*.catalog-main {
}*/
.catalog-main__title__wrapper {
  background-color: @footer-color;
  margin-bottom: 29px;
}

.catalog-main__title__container {
  width: 260px;
  height: 177px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}


.catalog-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  background-color: @footer-color;
}

.catalog-main__catalog {
  width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 60px;
}

@media (min-width: @tablet-width) {
  .catalog-main__title__container {
    width: 668px;
    height: 225px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
  }

  .catalog-main__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 13px;
  }

  .catalog-main__title__wrapper {
    margin-bottom: 79px;
  }

  .catalog-main__catalog {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main__catalog {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
  }

  .catalog-main__title__wrapper {
    margin-bottom: 152px;
  }

  .catalog-main__title {
    font-size: 53px;
    line-height: 57px;
  }

  .catalog-main__title__container {
    height: 230px;
  }
}
