/*.contacts {

}*/

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__mail {
  font-size: 15px;
  line-height: 30px;
  color: @button-color;
}

.contacts__address {
  font-size: 15px;
  line-height: 30px;
  color: @button-color;
}
/*
.contacts__map {

}

.contacts__write {

}
*/
