/*.contacts {
}*/

.contacts__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__mail {
  font-size: 15px;
  line-height: 30px;
  color: @button-color;
  display: inline;
}

.contacts__address {
  font-size: 15px;
  line-height: 30px;
  color: @button-color;
  display: inline;
}

.contacts__map {
  width: 100%;
}

.contacts__write {
  width: 260px;
  height: 50px;
  margin: 0 auto;
  display: block;
  border: 2px solid @border-color;
  background-color: @background-color;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 768px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .contacts__map {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    position: relative;
  }

  .contacts__wrapper {
    width: 350px;
    margin: 0 auto;
    padding: 0 50px;
    padding-left: 175px;
  }

  .contacts__write {
    position: absolute;
    bottom: 0;
    left: 225px;
  }

  .contacts__map {
    width: 525px;
    margin: 0 auto;
  }
}
