.form {
  margin-bottom: 56px;
}

.form__group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}
/*
.form__group__wrapper {

}*/

.form__group__wrapper .form__desc {
  margin-bottom: 22px;
}

.form__group__wrapper .form__desc:last-child {
  margin-bottom: 0;
}

.form__group--name {
  margin-bottom: 10px;
}

.form__group--name .form__title {
  margin-bottom: 29px;
}

.form__group--name .form__desc {
  padding-left: 0;
  padding-bottom: 15px;
}

.form__group--name .form__name {
  border: none;
  margin-bottom: 38px;
}

.form__group--background .form__name {
  border: none;
  margin-bottom: 8px;
}
/*
.form__group--background .form__title {

}*/

.form__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: @type-color;
  margin-bottom: 16px;
  text-transform: uppercase;
}
/*
.form__radio {

}
*/
.form__desc {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  display: block;
  padding-left: 62px;
}
/*
.form__checkbox {

}
*/
.form__name {
  font-size: 17px;
  line-height: 18px;
  color: @placeholder-color;
}

.form__wishes {
  font-size: 17px;
  line-height: 18px;
  color: #c7c7c7;
  border: 2px solid @button-color;
  width: 260px;
  box-sizing: border-box;
  height: 142px;
  margin-top: 9px;
  padding-top: 16px;
  padding-left: 14px;
}

.form__group--wishes {
  margin-bottom: 13px;
}

.form__footnote {
  font-size: 14px;
  line-height: 16px;
  color: @button-color;
  margin-bottom: 30px;
}

.form__button {
  width: 260px;
  height: 50px;
  margin: 0 auto;
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid @button-color;
  background-color: @background-color;
}

@media (min-width: @tablet-width) {
  .form {
    margin-bottom: 26px;
  }

  .form__group {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 33px;
  }

  .form__group__container {
    margin-top: -53px;
    margin-left: 182px;
  }

  .form__desc {
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
    padding-bottom: 35px;
  }

  .form__group__container-color {
    margin-right: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 185px;
    margin-top: -33px;
    margin-bottom: 14px;
  }

  .form__group--background {
    background-color: @footer-color;
    width: 100%;
    padding: 0;
    margin-bottom: 66px;
  }

  .form__group__tel {
    margin-bottom: 0;
  }

  .form__group__wrapper {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 68px;
  }

  .form__group__tel--email {
    padding-top: 48px;
    padding-bottom: 56px;
  }

  .form__group__tel .form__name {
    display: block;
    margin-left: 183px;
    margin-top: -37px;
    background-color: @footer-color;
  }

  .form__group--name .form__name {
    width: 345px;
    padding-left: 41px;
    margin-bottom: 51px;
  }

  .form__name {
    font-size: 19px;
    line-height: 18px;
  }

  .form__group__container-name {
    display: flex;
    flex-wrap: wrap;
    margin-left: 167px;
    margin-top: -45px;
  }

  .form__group--name {
    margin-bottom: 12px;
  }

  .form__group--wishes {
    margin-top: 68px;
  }

  .form__wishes {
    margin-left: 162px;
    width: 500px;
    margin-top: -48px;
    margin-bottom: 15px;
    height: 141px;
    font-size: 19px;
  }

  .form__group--footnote {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .form__footnote {
    font-size: 17px;
    line-height: 30px;
    order: 2;
  }

  .form__button {
    width: 230px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .form__group {
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 33px;
  }

  .form__group__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .form__group--background {
    background-color: @footer-color;
    width: 100%;
    padding: 0;
    padding-top: 67px;
    margin-bottom: 66px;
  }

  .form__group__container-color {
    width: 840px;
  }

  .form__title {
    padding-left: 63px;
  }

  .form__group__wrapper .form__desc {
    padding-right: 103px;
  }

  .form__group__container-name {
    width: 520px;
  }

  .form__group--name {
    margin-bottom: 10px;
  }

  .form__group__tel {
    margin-bottom: 0;
  }

  .form__group__tel--email {
    margin-top: -15px;
    padding-bottom: 55px;
  }

  .form__group--wishes {
    margin-top: 68px;
  }

  .form__wishes {
    margin-top: -48px;
    width: 700px;
    margin-left: 170px;
  }

  .form__group--footnote {
    width: 700px;
  }

  .form__footnote {
    margin-top: 3px;
  }
}
