/*.form-main {

} */

.form-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  background-color: @footer-color;
}

.form-main__text {
  font-size: 13px;
  line-height: 24px;
  color: @button-color;
}
/*
.form-main__form {

}*/
