/*.form {

}*/

.form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.form__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: @type-color;
}
/*
.form__radio {

}
*/
.form__desc {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}
/*
.form__checkbox {

}
*/
.form__name {
  font-size: 17px;
  line-height: 18px;
  color: @placeholder-color;
}

.form__wishes {
  font-size: 17px;
  line-height: 18px;
  color: #c7c7c7;
  border: 2px solid @button-color;
}

.form__footnote {
  font-size: 14px;
  line-height: 16px;
  color: @button-color;
}
