.page-footer {
  background-color: @footer-color;
}

.page-footer__wrapper {
  width: 260px;
  height: 160px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*
.page-footer__social {
}*/

.page-footer__logo {
  width: 86px;
  height: 35px;
  border: 2px solid green;
  display: none;
}

.page-footer__academy {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  padding-left: 35px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 668px;
    height: 143px;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .page-footer__logo {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__academy {
    padding-left: 0;
    padding-right: 55px;
  }
}
