/*.page-header {
} */

.page-header__wrapper {
  position: relative;
}

.page-header__toggle {
  position: absolute;
  right: 31px;
  top: 28px;
  padding: 0;
  border: none;
  background-color: @background-color;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 35px;
  padding-top: 22px;
  padding-bottom: 22px;
  z-index: 2;
}
/*
.page-header__logo-image {

}*/

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    position: relative;
    max-height: 89px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50px;
    margin: 0;
    width: 113px;
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    position: relative;
    max-height: 89px;
  }

  .page-header__logo {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 149px;
    height: 72px;
  }
}
