.product-week {
  width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: @tablet-width) {
  .product-week {
    width: auto;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}
/*
.product-week__basket {
}*/
