.reviews {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  padding-bottom: 70px;
}

.reviews__wrapper {
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 260px 5px;
  background-position: bottom 20px center;
  background-repeat: no-repeat;
}

.reviews__container {
  margin-bottom: 38px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: @button-color;
  margin-bottom: 32px;
  padding-top: 3px;
}

.reviews__name {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 0;
}

.reviews__name__wrapper {
  margin-bottom: 33px;
}

.reviews__adress {
  font-size: 17px;
  line-height: 30px;
  color: @button-color;
}

.reviews__button {
  display: inline-block;
  width: 130px;
  height: 51px;
  padding: 0;
  vertical-align: middle;
  font-size: 18px;
  line-height: 20px;
  background-color: transparent;
  border: 1px solid #c6c6c6;
  cursor: pointer;

  &:hover svg {
    fill: rgba(0, 0, 0, 0.6);
  }

  &:active svg {
    fill: rgba(0, 0, 0, 0.3);
  }
}

.reviews__write {
  width: 260px;
  height: 52px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid @button-color;
  background-color: @background-color;
  display: block;
  padding-top: 12px;
  text-align: center;
  text-decoration: none;
  color: @button-color;

  &:hover {
    color: @background-color;
    background-color: @button-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.reviews__button-wrapper {
  display: flex;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    padding-bottom: 88px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__wrapper {
    background-position: bottom 25px center;
    background-size: 668px 16px;
    background-repeat: no-repeat;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
    padding-top: 77px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 42px;
  }

  .reviews__write {
    position: absolute;
    top: 79px;
    right: 50px;
    width: 175px;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .reviews__container {
    display: flex;
    justify-content: space-between;
  }

  .reviews__name {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  .reviews__button-wrapper {
    margin-top: 20px;
  }

  .reviews__button {
    border: none;
    width: 88px;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 875px;
    margin: 0 auto;
    padding: 0 50px;
    padding-left: 225px;
    padding-bottom: 121px;
    background-position-x: 51px;
  }

  .reviews__wrapper {
    background-position: bottom 70px center;
    background-size: 1150px 21px;
  }

  .reviews__container {
    padding-bottom: 65px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__write {
    position: absolute;
    top: 83px;
  }

  .reviews__text {
    margin-bottom: 21px;
    padding-right: 100px;
  }
}
