.reviews {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  margin-bottom: 87px;
}

.reviews__container {
  margin-bottom: 40px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: @button-color;
  margin-bottom: 32px;
}

.reviews__name {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 0;
}

.reviews__name__wrapper {
  margin-bottom: 33px;
}

.reviews__adress {
  font-size: 17px;
  line-height: 30px;
  color: @button-color;
}

.reviews__left {
  width: 130px;
  height: 51px;
  border: 1px solid @border-color;
}

.reviews__right {
  width: 130px;
  height: 51px;
  border: 1px solid @border-color;
}

.reviews__write {
  width: 260px;
  height: 52px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid @button-color;
  background-color: @background-color;
}

.reviews__button-wrapper {
  display: flex;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 161px;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 42px;
  }

  .reviews__write {
    position: absolute;
    top: 0;
    right: 50px;
    width: 175px;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .reviews__container {
    display: flex;
    justify-content: space-between;
  }

  .reviews__name {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  .reviews__button-wrapper {
    margin-top: 25px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 875px;
    margin: 0 auto;
    padding: 0 50px;
    padding-left: 225px;
    margin-bottom: 225px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__write {
    position: absolute;
    top: 5px;
  }

  .reviews__text {
    margin-bottom: 21px;
    padding-right: 100px;
  }
}
