.sales-list {

}

.sales-list__item {
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}

.sales-list__item--interior {
  background: #63d1bb;
}

.sales-list__item--toys {
  background: #56c3b2;
}
