.user-list {
  margin: 0;
  padding: 0;
}

.user-list__item {
  list-style-type: none;
}

.user-list__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @text-color;
  text-decoration: none;
  display: block;
  height: 79px;
  border: 1px solid @border-color;
  text-align: center;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .user-list {
    order: 1;
    width: 100%;
    text-align: right;
  }

  .user-list__item {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
  }

  .user-list__link {
    border: none;
    height: 89px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    order: 2;
    width: 50%;
    text-align: right;
  }
}
