/*.week-basket {
}*/

.week-basket__title {
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
}

.week-basket__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
}

.week-basket__text {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
/*
.week-basket__desc {
}

.week-basket__image {
}*/

.week-basket__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}
/*
.week-basket__order {
}
*/
